{%extends 'orgbase.html'%}
{%block content%}
<div class="container " style="max-width: 70%; max-height: 100px;">
   
    <form class="border border-primary rounded pt-2 px-4 mt-3 " action="/organiser/addevents" method="POST">
        {% csrf_token %}
        <div class="text-center display-5 mb-2">Add Events</div>
        <div class="form-floating mb-1">
            <input type="text" class="form-control" name="ename" required>
            <label for="ename">Event Name</label>
          </div>
          <div class="form-floating mb-1">
            <input type="text" class="form-control" name="place" required>
            <label for="place">Event-Place</label>
          </div>
          <fieldset class="row mb-1">
            <legend class="col-form-label col-sm-2 pt-0">Event Type</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="tech" value="Tech Event" checked>
                <label class="form-check-label" for="tech">
                  Tech Event
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="cul" value="Cultural Event">
                <label class="form-check-label" for="cul">
                  Cultural Event
                </label>
              </div>
            </div>
          </fieldset>
          <div class="form-floating mb-1">
            <input type="date" class="form-control" name="date" required>
            <label for="date">Date</label>
          </div>
          <div class="form-floating mb-1">
            <input type="time" class="form-control" name="time" required>
            <label for="time">Time</label>
          </div>
          <div class="form-floating mb-1">
            <input type="number" class="form-control" name="amount" required>
            <label for="amount">Amount</label>
          </div>
        
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" name="desc" style="height: 100px"></textarea>
            <label for="desc">Description</label>
          </div>
       <div class="position-relative pb-4">
        <button type="submit" class="btn btn-primary mt-3">Add Event</button>
    </div>
      </form>
</div> 
</div>
{%endblock%}
