{%extends 'base.html'%}
{%block content%}
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h1 class="text-primary">Contact Us</h1>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Get back to us by</div>
                <div class="card-body ">
                  <h5 class="card-title d-inline-block">Email : <h5 class="d-inline-block text-danger">abcd@xyz.com</h5> </h5>
                  <h5 class="card-title d-inline-block">Contact : <h5 class="d-inline-block text-danger">XXXXXXXXXXX</h5> </h5>
                  <h5 class="card-title d-inline-block">Adderess : <h5 class="d-inline-block text-danger">Hyderabad</h5> </h5>
                  <h5 class="card-title d-inline-block">Pin Code : <h5 class="d-inline-block text-danger">Random pin</h5> </h5>
                </div>
              </div>
        </div>
        <h1 class="text-secondary">Never hesitate to contact us if you have any problem</h1>
        <div class="col-sm-3"></div>
    </div>
</div>
{%endblock%}