{%extends 'orgbase.html'%}
{%block content%}
<div class='container'>
<div  class="text-center">
    <h1>Welcome <i class="text-primary">{{user.username}}</i></h1>
    
    <h4>We are glad to have you here as an organiser</h4>
    <hr>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8 text-success">
        <ul>
            <li>You can add events for the students to register from here</li>
            <li>You can manage various events you have added</li>
            <li>You can delete various events you have added</li>
            <li>You can view various events you have added</li>
        </ul>
       </div>
</div>
<h3 class="text-center text-muted"> <i> Hoping that you will have a great time working with us </i></h3>
</div>

{%endblock%}



